* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* HEADER Component */
.header {
  display: flex;
  justify-content: space-evenly;
  margin: 1.25rem;
  padding: 0.6rem;
  align-items: center;
  /* position: sticky;
  top: 0;
  background-color: white; */
}

.header-item > ul {
  display: flex;
  list-style-type: none;
}

.header-item > ul > li {
  margin: 0 0.6rem;
  font-weight: 500;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  /* transition: 5.3s; */
}

.logo {
  width: 7.5rem;
}

.nav-btn {
  padding: 0.9rem 1.5rem;
  border: 0;
  font-size: 1rem;
  border-radius: 2rem;
}

.hamburger-menu {
  display: none;
}

/* HERO Component */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 3rem;
  padding-left: 3rem;
  line-height: 1.3;
}

.hero-text > h1 {
  margin: 0.6rem 0;
  font-size: 2.75rem;
  font-weight: bold;
  width: 25rem;
}

.hero-text > p {
  margin: 1.25rem 0;
  font-size: 0.75rem;
  color: #888;
  width: 25rem;
}

.hero-btn {
  margin: 0.6rem 1.25rem 0.6rem 0;
  padding: 0.75rem 2.25rem;
  /* font-size: 0.87rem; */
  color: white;
  border: 0;
  font-weight: 700;
}

.hero-image {
  width: 43.75rem;
  max-width: 100%;
}

/*BookCar Component*/
.book-car {
  margin: 2rem;
  padding: 2rem;
}

.book-car > h2 {
  margin: 2rem 2.5rem;
}

.book-item > p {
  font-size: 0.87rem;
  font-weight: 700;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  /* margin: 10px 50px 10px 0; */
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.book-item {
  margin: 0.6rem 0px;
  padding: 0 1.25rem;
  width: 20em;
}

.book-input {
  padding: 0.6rem 7.5rem 0.6rem 0;
  border: 0;
  color: #888;
}

.search-btn {
  padding: 0.6rem 6.2rem;
  border: 0;
  font-size: 1rem;
  color: white;
  background-color: orangered;
}

/*Info Section*/
.info-section {
  margin: 8rem 0;
}

.info-header {
  display: grid;
  justify-items: center;
  margin-bottom: 1.25rem;
}

.info-header > h3 {
  font-size: 1rem;
}

.info-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  margin: 0 2.5rem;
}

.info-item {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
}

.info-item > p {
  text-align: center;
  color: #888;
}

.info-item > h4 {
  margin: 2.5rem 2rem 1.25rem;
  font-size: 1.25rem;
}

.info-img {
  width: 4.5rem;
}

/* CarModel Component*/
.car-heading {
  text-align: center;
  margin: 3rem;
}

.car-heading > * {
  padding: 0.1em 0;
}

.car-heading > p {
  padding: 0 20em;
  color: #888;
}

.car-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-name-list {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
}

.car-name-btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  background-color: white;
  text-align: left;
  margin-bottom: 0.3rem;
}

.car-name-btn:hover {
  background-color: orangered;
  color: white;
}

.car-name-btn:focus {
  background-color: orangered;
  color: white;
}

.car-image {
  width: 600px;
  height: 400px;
  max-width: 100%;
  margin: 0 1.25rem;
}

.car-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-reserve-btn {
  padding: 1rem 3rem;
  margin: 0.75rem 0;
  border: 0;
  background-color: orangered;
  color: white;
  font-size: 1.125rem;
}

/*CarDetailsCard*/
/* .car-details {
  display: inline;
} */

.car-details-table > h2 {
  border: 1px solid #888;
  padding: 0.6rem 0;
  text-align: center;
  background-color: orangered;
  color: white;
}

table {
  border: 1px solid #888;
}

td {
  padding: 0.6rem 2rem;
}

/* ChooseUs*/
.banner {
  background-color: black;
  color: white;
  text-align: center;
  padding: 3rem;
  margin: 6.25rem 0 3rem 0;
}

.banner > h1 {
  margin-bottom: 1rem;
}

.img-container {
  display: flex;
  justify-content: center;
}

.banner-img {
  max-width: 75%;
}

.info-sec {
  display: flex;
  justify-content: center;
}

.info-sec-left {
  padding-left: 6.25rem;
  margin: 0 3rem;
  width: 30rem;
}

.info-sec-right {
  margin: 0 6.25rem;
  display: flex;
  flex-direction: column;
  width: 30rem;
  justify-content: center;
}

.info-sec-left > * {
  padding: 0.5rem;
}

.info-sec-left > p {
  color: #888;
}

.find-details-btn {
  margin: 1.25rem 0.5rem;
  padding: 0.75rem 2rem;
  background-color: orangered;
  color: white;
  border: 0;
  font-size: 1rem;
}

.images {
  display: flex;
  margin: 1.25rem 0;
  align-items: center;
}

.img-set {
  width: 6.25rem;
  padding: 0 1.25rem;
}

.para-item {
  color: #888;
  margin-top: 0.6rem;
}

/* Testimonial Component*/
.test-header {
  text-align: center;
  margin: 3rem 3rem 0;
  padding: 3rem;
}

.test-header > h1 {
  padding: 0.5rem 0 0.6rem 0;
}

.test-header > p {
  padding: 0.6rem 12.5rem;
  color: #888;
}

/* ReviewCard Component*/
.card-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.review-card {
  border: 1px solid #888;
  border-radius: 0.6rem;
  padding: 0.6rem;
  width: 18.75rem;
}

.review-card > * {
  padding: 0.6rem;
}

.review-card > p {
  color: #444;
}

.container {
  display: flex;
  align-items: center;
}

.user {
  width: 2.5rem;
  margin-right: 0.6rem;
}

/* AppDownload Component*/
.footer-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
  align-items: center;
  margin-top: 3rem;
}

.footer-item {
  margin: 3rem 3rem 0;
  padding: 1rem;
  width: 30rem;
}

.footer-item > p {
  margin: 2rem 0;
  color: #888;
}

.app-btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.6rem;
  text-align: left;
  font-size: 0.87rem;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  margin-right: 0.6rem;
  background-color: black;
  color: white;
  line-height: 1;
}

.contact-container {
  display: flex;
  justify-content: center;
  /* background-color: black;
  color: white; */
}

.contact-item {
  padding: 3rem;
}

.contact-item > * {
  margin-bottom: 0.6rem;
}

.contact-item > p {
  font-size: 0.87rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.contact-item > button {
  padding: 0.75rem 4rem;
  background-color: orangered;
  color: white;
  border: 0;
  display: block;
  font-size: 1rem;
}

.contact-item > input {
  padding: 0.6rem 1.25rem;
  border: 1px solid;
  margin: 0.6rem 0;
  border-radius: 0.3rem;
}

.copyright {
  text-align: center;
  margin: 1.25rem 7.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
